/*Font Styles*/

@font-face {
    font-family: 'Roboto Mono';
    font-weight: normal;
    src: url('assets/fonts/RobotoMono-Regular.woff2') format('woff2');
    src: url('assets/fonts/RobotoMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: bold;
    src: url('assets/fonts/RobotoMono-Bold.woff2') format('woff2');
    src: url('assets/fonts/RobotoMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    src: url('assets/fonts/Poppins-Regular.woff2') format('woff2');
    src: url('assets/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('assets/fonts/Poppins-Bold.woff2') format('woff2');
    src: url('assets/fonts/Poppins-Bold.woff') format('woff');
}

/*Variable Colors*/

:root {
    --bg-base: #000;
    --teal-bg-accent: #15212D;
    --teal-text-accent: #3DCCBF;
    --grey-text: #A4B2AF;
    --primary-text: #fff;
}

/*Change light mode colors later*/

.light-mode {
    --bg-base: #fff;
    --teal-bg-accent: #3DCCBF;
    --teal-text-accent: #15212D;
    --grey-text: #3a3d3d;
    --primary-text: #000;
}

/*General Styles*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(to bottom right, var(--bg-base), var(--bg-base), var(--teal-bg-accent));
    background-attachment: fixed;
    color: var(--primary-text);
    font-family: 'Roboto Mono';
    height: 100vh;
}

a {
    color: var(--primary-text);
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Navigation Bar*/

.logo {
    font-size: 1.3rem;
}

.nav-bar {
    font-weight: bold;
    font-size: 1rem;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 90%;
}

.nav-bar-container span {
    color: var(--teal-text-accent);
}

.nav-bar-container ul {
    display: flex;
    gap: 2.5rem;
}

.nav-bar-container a {
    color: var(--grey-text);
    transition: color 0.3s ease;
}

.nav-bar-container a:hover {
    color: var(--primary-text);
}

.light-mode-toggle {
    background-color: var(--teal-bg-accent);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}